section.hero{
    margin-top: 3rem;
}

section.hero .aprent-avatar.d-flex{
    align-items: end;
    gap: 0.6rem;
    min-height: 88px;
}

section.hero .left-section{
    flex-grow: 1;
}

section.hero .icon-verified{
    color: var(--blue);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

section.hero .avatar{
    width: 88px;
    border-radius: 50%;
    border: 1px solid darkorange;
    padding: 1px;
    box-shadow: 2px 2px 40px #cbc8c895 inset;
}

section.hero h1.title{
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
}

section.hero p.sub-title{
    font-size: 0.9rem;
    line-height: 1.65rem;
    margin-bottom: 32px;
    color: var(--subtitle);
}

section.hero .all-icons{
    font-size: 1.3rem;
    gap: 1.5rem;
    color: var(--subtitle);
}

section.hero .all-icons .icon{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

section.hero .all-icons .icon:hover{
    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--icon-hover);
}

section.hero .animation{
    translate: 100px 55px;
}

.icon-dev{
    width: 450px;
}

@media (max-width: 1250px) {
    section.hero .animation{
        display: none;
    }
}

@media (max-width: 1520px) {
    .icon-dev{
        width: 400px;
    }
}

@media (max-width: 1460px) {
    .icon-dev{
        width: 350px;
    }
}