@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

html{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.1px;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary);
    color: #fff;
}
:root{
    --primary : #000;
    --secondary: #18181b;
    --border: #3f3f4666;
    --title: #f4f4f5;
    --subtitle: #a1a1aa;
    --bgHeader: #27272a;
    --blue: #5dbcfc;
    --icon-hover: #d4d4d8;
    --container-padding: 4.8rem;
}


.light{
    --primary : #fafafa;
    --secondary: #fff;
    --title: #27272a;
    --subtitle: #52525b;
    --bgHeader: #fdfdfd;
    --blue: #0095f6;
    --icon-hover: #333;
}